*{margin:0;padding:0}
 ul{list-style: none;}
 a{text-decoration: none;color: rgb(89, 93, 91);}
 /* h1 h2{font-size: 18px} */
/* 初始化 */
.left{float: left;}
.right{float: right;}
.clear{content:""; display:block;clear:both;}
button:hover{background-color: rgb(128, 177, 58);}
body{background-image: url(../background.png);background-repeat: repeat-x;}

#main{width: 1110px; margin:auto;}
#main .title{height: 55px;line-height: 55px;font-size: 18px;padding-left: 15px;background-color:rgb(62, 62, 58);color: white;}
#main .Round{height: 50px;line-height: 50px;padding-left: 13px;padding-bottom: 4px;border-bottom: 1px white solid;border-left: 1px white solid;border-right: 1px white solid;background-color: rgb(41, 171, 225);color: white;margin-bottom: 30px;border-radius: 3px;font-size: 18px;}

#main .Button{width: 215px;border:1px white solid;margin-right: 60px;border-radius: 3px;margin-left: 13px; background-color: white;}
#main .active_player{background-color: rgb(41, 171, 225);color: white;border-radius: 3px;font-size: 18px; height: 68px;line-height: 30px;text-align: left;padding-left: 20px;padding-right: 10px;padding-top: 5px;}

#main .card{border-radius: 3px;width: 215px;border:1px white solid;margin-right: 56px;margin-bottom: 40px;}
#main .name{border-radius: 3px;height: 45px;background-color: rgb(244, 124, 60);padding-left: 20px;padding-top: 15px;}
#main .player{border-radius: 3px;height: 45px;background-color: rgb(147, 196, 75);padding-left: 20px;padding-top: 15px;}
#main .type{height: 35px;padding-left: 20px;padding-top: 15px;text-align: left;}
#main .pic{height: 100px;}